body{
    background-color: #F7ECDE;
    text-transform: capitalize;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
main{
    font-family: "PT Sans Caption", sans-serif;

}
h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    width: fit-content;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        background-color: #FEC260;
        height: 25%;
        width:100% ;
        bottom: 10px;
        z-index: -1;
        transition: 0.4s all;
    }
        &:hover::before{
            height: 50%;
        }
}
.b-body{
    border-top: black 2px dotted;
    border-bottom: black 2px dotted;
    h2{
        font-family: "Righteous", sans-serif;
        font-size: 25px;
        background-image: linear-gradient(to right, #3ca55c, #b5ac49);
        background-size: 100%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .inputs{
        font-weight: 600;
        input:focus{
            border-color: #d99c39;
            outline: 0;
            box-shadow: 0 0 0 4px #fec26055;
        }
    }  
    .btn{
        background-color: #d1512d;
        color: #fff;
        &:hover{
            background-color: #bb4120;
            color: #fff;
        }
    }
}
.btnVisit{
    background-color: #9eb23b;
    color: #fff;
    &:hover{
        background-color: #8a9e23;
        color: #fff;
    }
}
.btnDelete{
    background-color: #eb1d36;
    color: #fff;
    &:hover{
        background-color: #d30820;
        color: #fff;
    }
}
.box{
    .checkBox{
        width: 500px;
        text-align: left;
        
        h4{
            font-family: "Bree Serif", serif;
            font-size: 21px;
        }
        .boxList li i{
            color: #bb4120;
        }
        .boxList li{
            font-size: 18px;
        }
    }
    .dots{
    .dot-1{
            color: #f15f5d;
        }
    .dot-2{
        color: #febe2e;
    }
    .dot-3{
        color: #4db748;
    }
    .dot-1 , .dot-2 , .dot-3{
        font-size: 20px;
    }
    } 
}
/* for error box */
div:where(.swal2-container).swal2-center>.swal2-popup,
div:where(.swal2-container) button:where(.swal2-styled):not([disabled]){
    background-color: transparent !important;
    font-family: "PT Sans Caption", sans-serif;
}
div:where(.swal2-container) button:where(.swal2-close){
    position: absolute !important;
    top: -50px !important ;
    width: 40px !important ;
    color: #545454 !important ;
}

